<table>
	<thead>
		<tr>
			<th>Student</th>
			<th>Amount</th>
			<th>Paid for month</th>
		</tr>
		
	</thead>
	<tbody>
		<% @payments.each do |payment| %>
		<tr>
			<td><%= payment.student_id %></td>
			<td><%= payment.amount %></td>
			<td><%= payment.paid_for_month %></td>
		</tr>
		<% end %>
	</tbody>

</table>


